.box1{
    background-color: blue;
    width: 20%;
    margin: 3% 2.5%;
    height: 500px;
}

.box2{
    background-color: chartreuse;
    width: 20%;
    margin: 3% 2.5%;
    height: 500px;
}

.box3{
    background-color: fuchsia;
    width: 20%;
    margin: 3% 2.5%;
    height: 500px;
}

.box4{
    background-color: gold;
    width: 20%;
    margin: 3% 2.5%;
    height: 500px;
}

body{
    display: flex;
    justify-content: center;
}